@{
    ViewData["Title"] = "Music Store";
}

@model AlbumBsonViewModel
@{
    var artists = ViewBag.Artists != null ? (List<IdTextPair>)ViewBag.Artists : new List<IdTextPair>();
    var genres = ViewBag.Genres != null ? (List<IdTextPair>)ViewBag.Genres : new List<IdTextPair>();

    var configs = new ViewConfigurations
    {
        FormId = "musicStoreForm",
        ApiUrlRoot = "/home/savealbum",
        GridName = "storeGrid"
    };
}

<div id="content" style="margin-top:40px;">

    <div class="row">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-inbox fa-fw "></i> Mongo Albums
            </h1>
        </div>
    </div>
    <div class="row">
        <form id="@(configs.FormId)"  class="form-horizontal" asp-controller="Home" asp-action="savealbum" method="post">
            <div class="form-group">
                <label class="col-md-2 control-label">Artist</label>
                <div class="col-md-6">
                    @{
                        var component = Html.Efe().AutoComplete().Name(nameof(Model.Artist))
                            .DataSource(source => source.Read(Url.Action("GetArtistList", "Home")))
                            .Events(events => events.Change("autoCompleteChanged"))
                            .Events(events => events.Selected("autoCompleteSelected"));
                        component.Render();
                    }
                    <span asp-validation-for="Artist" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Genre</label>
                <div class="col-md-6">
                    @(Html.Efe().AutoComplete().Name(nameof(Model.Genre))
                            .DisableMinLength()
                            .DataSource(source => source.Data(genres))
                            .Events(events => events.Change("autoCompleteChanged")))
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Title</label>
                <div class="col-md-6">
                    <input class="form-control" asp-for="Title" type="text" data-bind="value: title" autocomplete="off">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Price</label>
                <div class="col-md-6">
                    <input class="form-control" asp-for="Price" type="text" data-bind="value: price" autocomplete="off">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Dosya</label>
                <div class="col-md-6">
                    @(Html.Efe().Upload().Name("files").Multiple().Events(e => e.Select("filesSelect")))
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 pull-right">
                    <button tabindex="-1" type="reset" class="btn btn-default" id="btnReset" data-bind="click: reset"><i class="fa fa-plus"></i> Reset</button>
                    <button class="btn btn-primary" data-bind="click: create, enable: canSave"><i class="fa fa-save"></i> <span data-bind="text: actionName"></span></button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div>
            @{
                var gridComponent = Html.Efe().Grid<AlbumBsonViewModel>()
                .Name(configs.GridName)
                .DataSource(source => source.Ajax().Read("GetBsonAlbums", "Home"))
                .Events(events => events.Init("gridInitHandler").CreatedRow("rowCreatedHandler"))
                .PageLength(PageLengths.Fifty)
                .BindableColumns(columns =>
                {
                    columns.Bind(x => x.Id);
                    columns.Bind(x => x.Genre);
                    columns.Bind(x => x.Artist);
                    columns.Bind(x => x.Price);
                    columns.TemplateColumn("Select", "btnGridSelectRow");
                });

                gridComponent.FilterPanel("filterModal", "Filtre Uygula");

                gridComponent.Render();
            }
        </div>

    </div>

</div>

<script>

    var viewModel = @Html.ViewInitializer(configs, Model);

    efe.subscribe(efe.events.propertyChanged, function (sender, context) {
        console.log("Property changed: ", context);
        if (context.name == "price") {

        }
    });

    function autoCompleteChanged(e) {
        console.log("Auto Complete Changed :", e);
    }

    function parentIdHandler() {
        return 1;
    }

    function sampleTemplateHandler(data) {
        return data.text;
    }

    function rowCreatedHandler(row, data, index) {
        return;
    }

    function autoCompleteSelected(e) {
        console.log("Selected :", e);
    }

    var gridInitHandler = function (e, settings, json) {
    }

    var filesSelect = function (e, context) {
        console.log(context.files);
        console.log(context.maxSize);
        console.log(context.allowedFileTypes);
    }

</script>


