<script type="text/html" id="gridToolbar">
    <div class="widget-toolbar pull-left" role="menu">
        <div class="btn-group">
            <button id="<%=name%>BtnRefresh" class="btn btn-sm btn-default" title="Refresh"><i class="fa fa-refresh"></i></button>
            <% if(!useGlobalFilter) {%>
            <button id="<%=name%>BtnFilter" class="btn btn-sm btn-success" title="Filter">Filter <i class="fa fa-filter"></i></button>
            <%}%>
        </div>
    </div>
</script>

<script type="text/html" id="btnGridSelectRow">
    <button class="btn dropdown-toggle btn-xs btn-primary" data-id="<%=row.id%>" onclick="javascript:efe.utils.selectGridRow(this, '<%=gridName%>');" aria-expanded="false">
        <i class="fa fa-hand-o-up"></i> Seç
    </button>
</script>

<script type="text/html" id="linkColumnDefaultTemplate">
    <%
    var link = "#";
    if(typeof protectedUrl != 'undefined') { link = protectedUrl }
    %>

    <a href="<%=link%>" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Detail</a>
</script>

<script type="text/html" id="gridBtnDetail">
    <%
    var link = "#";
    if(typeof protectedUrl != 'undefined') { link = protectedUrl }
    %>

    <a href="<%=link%>" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Detail</a>
</script>

<script type="text/html" id="modalTemplate">
    <div class="modal fade filter-modal" id="<%=id%>" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title"><%=title%></h4>
                    </div>
                    <div class="modal-body">
                        <%=content%>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="resetFilter">
                            Temizle
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Kapat
                        </button>
                        <button type="submit" class="btn btn-primary" id="<%=id%>Invoker">
                            <%=submitText%>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="inputtext">
    <div class="col-md-6">
        <div class="form-group">
            <label><%=label%></label>
            <div class="input-group input-group-sm">
                <div class="icon-addon addon-sm">
                    <input class="form-control" placeholder="<%=label%>" type="text" name="<%=name%>" id="<%=name%>"
                    <%if(mask){%> data-mask="<%=mask%>" data-bind="value: <%=name%>, valueUpdate: 'keypress'" <%} else {%> data-bind="value: <%=name%>"<%}%> />
                    <label for="<%=label%>" class="glyphicon glyphicon-search" rel="tooltip" title="" data-original-title="<%=label%>"></label>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" data-bind="filterBinding: <%=name%>FilterRadio"><i class="fa fa-filter"></i></button>
                    <div class="dropdown-menu dropdown-menu-right" style="z-index:100001;">
                        <h3 class="popover-title"><i class="fa fa-fw fa-pencil"></i> Filtre Uygula</h3>
                        <div>
                            <ul>
                                <li class='radio'>
                                    <label>
                                        <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='eq'><span>Eşittir</span>
                                    </label>
                                </li>
                                <li class="radio">
                                    <label>
                                        <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='contains'><span>İçerir</span>
                                    </label>
                                </li>
                                <li class="radio">
                                    <label>
                                        <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='startswith'><span>İle Başlar</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <%if(mask)%>
        <script>
            $(function() {
                var inputSelector = "<%=selector%> input[name='<%=name%>']";
                $('#'+inputSelector).mask('<%=mask%>');
                efe.utils.maskFocus();
            });
        </script>
    </div>
</script>

<script type="text/html" id="inputnumber">
    <div class="col-md-6">
        <div class="form-group">
            <label><%=label%></label>
            <div class="input-group input-group-sm">
                <div class="icon-addon addon-sm">
                    <input class="form-control" placeholder="<%=label%>" type="number" name="<%=name%>" id="<%=name%>" data-bind="value: <%=name%>" />
                    <label for="<%=label%>" class="glyphicon glyphicon-search" rel="tooltip" title="" data-original-title="<%=label%>"></label>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" data-bind="filterBinding: <%=name%>FilterRadio"><i class="fa fa-filter"></i></button>
                    <div class="dropdown-menu dropdown-menu-right" style="z-index:100001;">
                        <h3 class="popover-title"><i class="fa fa-fw fa-pencil"></i> Filtre Uygula</h3>
                        <div>
                            <ul>
                                <li class='radio'>
                                    <label>
                                        <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='eq'><span>Eşittir</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="inputenum">
    <div class="col-md-6">
        <div class="form-group">
            <label><%=label%></label>
            <div class="icon-addon addon-sm">
                <select class="form-control input-sm" id="<%=name%>" data-bind="value: <%=name%>">
                    <% _.each(items, function (item) { %>
                    @Html.Raw("<option value='<%=item.id%>'><%=item.text%></option>")
                    <% }); %>
                </select>
                <label for="<%=name%>" class="glyphicon glyphicon-search" rel="tooltip" title="" data-original-title="<%=name%>"></label>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="inputcheckbox">
    <div class="col-md-6">
        <div class="form-group">
            <label><%=label%></label>
            <div class="icon-addon addon-sm">
                <input type="checkbox" id="<%=name%>" name="<%=name%>" data-bind="checked: <%=name%>" />
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="inputradio">
    <div class="col-md-6">
        <div class="form-group">
            <label><%=label%></label>
            <div class="filter-modal-radio">
                <label class="radio radio-inline">
                    <input type="radio" class="radiobox" name="style-0a" value="true" data-bind="checked: <%=name%>">
                    <span>Aktif</span>
                </label>
                <label class="radio radio-inline">
                    <input type="radio" class="radiobox" name="style-0a" value="false" data-bind="checked: <%=name%>">
                    <span>Pasif</span>
                </label>
                <label class="radio radio-inline">
                    <input type="radio" class="radiobox" name="style-0a" value="" data-bind="checked: <%=name%>">
                    <span>Her İkisi</span>
                </label>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="inputdatetime">
    <div class="col-md-6">
        <div class="form-group">
            <label><%=label%></label>
            <div class="input-group input-group-sm">
                <input class="form-control" <%if(!_useGlobalFilter){%> style="z-index:100000;" <%}%> placeholder="<%=label%>" type="text" name="<%=name%>" data-bind="value: <%=name%>" />
                <span class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" data-bind="filterBinding: <%=name%>FilterRadio"><i class="fa fa-filter"></i></button>
                    <div class="dropdown-menu dropdown-menu-right" style="z-index:100001;">
                        <h3 class="popover-title"><i class="fa fa-fw fa-pencil"></i> Filtre Uygula</h3>
                        <div>
                            <ul>
                                <li class='radio'>
                                    <label>
                                        <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='eq'><span>Eşittir</span>
                                    </label>
                                </li>
                                <li class="radio">
                                    <label>
                                        <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='startswith'><span>İle Başlar</span>
                                    </label>
                                </li>
                                <li class="radio">
                                    <label>
                                        <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='endswith'><span>İle Biter</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </span>
            </div>
            <script>
                jQuery(function() {
                    var domSelector = "<%=selector%> input[name='<%=name%>']";
                    jQuery('#'+domSelector).efeDatePicker({"domSelector": domSelector, "name":"<%=name%>","dateFormat":"dd.mm.yy","component":"efeDatePicker"});
                });
            </script>
        </div>
    </div>
</script>
<script type="text/html" id="inputDateTimeComparable">
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label><%=label%></label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" <%if(!_useGlobalFilter){%> style="z-index:100000;" <%}%> placeholder="<%=label%>" type="text" name="<%=name%>" data-bind="value: <%=name%>" />
                        <span class="input-group-btn">
                            <button class="btn btn-default dropdown-toggle " data-toggle="dropdown" type="button" data-bind="filterBinding: <%=name%>FilterRadio"><i class="fa fa-filter"></i></button>
                            <div class="dropdown-menu dropdown-menu-right" style="z-index:100001;">
                                <h3 class="popover-title"><i class="fa fa-fw fa-pencil"></i> Filtre Uygula</h3>
                                <div>
                                    <ul>
                                        <li class='radio'>
                                            <label>
                                                <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='eq'><span>Eşittir</span>
                                            </label>
                                        </li>
                                        <li class="radio">
                                            <label>
                                                <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='startswith'><span>İle Başlar</span>
                                            </label>
                                        </li>
                                        <li class="radio">
                                            <label>
                                                <input type='radio' class='radiobox style-0' name='<%=name%>FilterRadio' data-bind='checked: <%=name%>FilterRadio' value='endswith'><span>İle Biter</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <%
                    var nameComp = name + '2';
                    %>
                    <label><%=label%> 2</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" <%if(!_useGlobalFilter){%> style="z-index:100000;" <%}%> placeholder="<%=nameComp%>" type="text" name="<%=nameComp%>" data-bind="value: <%=nameComp%>" />
                        <span class="input-group-btn">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" data-bind="filterBinding: <%=nameComp%>FilterRadio"><i class="fa fa-filter"></i></button>
                            <div class="dropdown-menu dropdown-menu-right" style="z-index:100001;">
                                <h3 class="popover-title"><i class="fa fa-fw fa-pencil"></i> Filtre Uygula</h3>
                                <div>
                                    <ul>
                                        <li class='radio'>
                                            <label>
                                                <input type='radio' class='radiobox style-0' name='<%=nameComp%>FilterRadio' data-bind='checked: <%=nameComp%>FilterRadio' value='eq'><span>Eşittir</span>
                                            </label>
                                        </li>
                                        <li class="radio">
                                            <label>
                                                <input type='radio' class='radiobox style-0' name='<%=nameComp%>FilterRadio' data-bind='checked: <%=nameComp%>FilterRadio' value='startswith'><span>İle Başlar</span>
                                            </label>
                                        </li>
                                        <li class="radio">
                                            <label>
                                                <input type='radio' class='radiobox style-0' name='<%=nameComp%>FilterRadio' data-bind='checked: <%=nameComp%>FilterRadio' value='endswith'><span>İle Biter</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(function() {

            var domSelector = "<%=selector%> input[name='<%=name%>']";
            var domSelectorComp = "<%=selector%> input[name='<%=nameComp%>']";

            jQuery('#'+domSelector).efeDatePicker({"domSelector": domSelector, "name":"<%=name%>","dateFormat":"dd.mm.yy","component":"efeDatePicker"});
            jQuery('#'+domSelectorComp).efeDatePicker({"domSelector": domSelectorComp, "name":"<%=nameComp%>","dateFormat":"dd.mm.yy","component":"efeDatePicker"});

            jQuery('#'+domSelector).change(function(e) {
                var val = $(this).val();
                $('#'+domSelectorComp).datepicker('option', 'minDate', val);
            });
        });
    </script>
</script>
<script type="text/html" id="inputselectitems">
    <div class="col-md-6">
        <div class="form-group">
            <label><%=label%></label>
            <select class="form-control input-sm" id="<%=name%>" data-bind="value: <%=name%>"></select>
        </div>
    </div>
    <script>
        jQuery(function() {

            var domSelector = "<%=selector%> #<%=name%>";

            jQuery(domSelector).efeAutoComplete({
                "name": domSelector,
                "width": "100%",
                "placeholder": {
                    id: -1,
                    text: 'Lütfen seçiniz'
                },
                "data": <%=itemsStrArray%>,
                "isArray": false,
                "component": "efeAutoComplete"
            });
        });
    </script>
</script>
<script type="text/html" id="inputselect">
    <div class="col-md-6">
        <div class="form-group">
            <label><%=label%></label>
            <select class="form-control input-sm" id="<%=name%>" data-bind="value: <%=name%>"></select>
        </div>
    </div>
    <script>
        jQuery(function() {

            var domSelector = "<%=selector%> #<%=name%>";
            var cascadeFrom = "<%=cascadeFrom%>";

            jQuery(domSelector).efeAutoComplete({
                "name": domSelector,
                "placeholder": "<%=label%>",
                "width": "100%",
                "ajax": {
                    dataType: 'json',
                    method: 'GET',
                    url: '<%=dataSourceUrl%>',
                    type: 'Ajax',
                    delay: 250,
                    data: function(params) {
                        var obj = {
                            text: params.term || "",
                            selectedIds: efe.utils.getAutoCompleteItemsId('<%=name%>', 'selectedIds'),
                            length: params.page || 30
                        };

                        if (cascadeFrom) {
                            var ids = efe.utils.getAutoCompleteItemsId(cascadeFrom);
                            if (ids && ids.length > 0) {
                                obj.parentId = _.last(ids);
                            }
                        }
                        return efe.utils.toQueryString(obj, '');
                    },
                    processResults: function(result, params) {
                        page = params.page || 1;
                        return {
                            results: result.data,
                            pagination: {
                                more: (params.page * 30) < result.recordsTotal
                            }
                        };
                    },
                    cache: true
                },
                "minimumInputLength":"<%=minimumInputLength%>",
                "component":"efeAutoComplete"});
        });
    </script>
</script>